.container {
  width: 500px;
  height: 250px;
  background-color: beige;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0;
  bottom:0;
  margin: auto;
  display:flex;
  align-items: center;
  padding: 15px;
  flex-direction: row;
  gap: 10px;
  border-radius: 16px;
}

.item-container{
  display:flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  overflow-x: auto;
  overflow-y: hidden;
  scroll-behavior: smooth;
}

.item-container::-webkit-scrollbar{
  height: 0
}

.item {
  height: 200px;
  border-radius: 8px;
}

img{
  height: 200px;
  border-radius: 8px;
  object-fit: cover;
}
